{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<!--MainContent-->
            <div id="MainContent" class="main-content" role="main">
                <!--Breadcrumb-->
                <div class="bredcrumbWrap">
                    <div class="container breadcrumbs">
                        <a href="/" title="Back to the home page">Каталог</a><span aria-hidden="true">›</span><span>{{ itpm.name }}</span>
                    </div>
                </div>
                <!--End Breadcrumb-->
 <div id="ProductSection-product-template" class="product-template__container prstyle1 container">
                    <!--product-single-->
                    <div class="product-single">
                        <div class="row">
                             <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product-details-img">
                                    <div class="product-thumb">
                                        <div id="gallery" class="product-dec-slider-2 product-tab-left">
                                            {% for mp in mainphoto %}
                                            <a data-image="{{ mp.image.url }}" data-zoom-image="{{ mp.image.url }}" class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1">
                                                <img class="blur-up lazyload" data-src="{{ mp.image.url }}" src="{{ mp.image.url }}" alt="" />
                                            </a>
                                            {% endfor %}
                                            {% for p in photos %}
                                            <a data-image="{{ p.image.url }}" data-zoom-image="{{ p.image.url }}" class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1">
                                                <img class="blur-up lazyload" data-src="{{ p.image.url }}" src="{{ p.image.url }}" alt="" />
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
<!--                                    <div>-->
<!--                                        <h1>here</h1>-->

<!--                                        {% for p in photos %}-->
<!--                                            <h1> {{ p.time_create }}</h1>-->
<!--                                            <img src="{{ p.image.url }}" />-->
<!--                                         {% endfor %}-->
<!--                                        <ol class="carousel-indicators">-->
<!--   -->
<!--                                        </div>-->
                                    <div class="zoompro-wrap product-zoom-right pl-20">
                                        <div class="zoompro-span">
                                            {% for mp in mainphoto %}
                                            <img class="blur-up lazyload zoompro" data-zoom-image="{{ mp.image.url }}" alt="" src="{{ mp.image.url }}" />
                                            {% endfor %}
                                        </div>
                                        <div class="product-labels">
                                        {% if itpm.action %}    
                                            <span class="lbl on-sale">-{{ itpm.action }}%</span>
                                        {% endif %}
                                        {% if itpm.new %}    
                                            <span class="lbl pr-label1">Новое</span>
                                        {% endif %}    
                                        </div>
                                        <div class="product-buttons">
                                            <a href="#" class="btn prlightbox" title="Zoom"><i class="icon anm anm-expand-l-arrows" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="lightboximages">
                                        {% for mp in mainphoto %}
                                        <a href="{{ mp.image.url }}" data-size="1462x2048"></a>
                                        {% endfor %}
                                        {% for p in photos %}
                                        <a href="{{ p.image.url }}" data-size="1462x2048"></a>
                                        {% endfor %}
                                        

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="product-single__meta">
                                        <h1 class="product-single__title">{{ itpm.name }}</h1>
                                        <div class="product-nav clearfix">
                                            
                                        </div>
                                        <div class="prInfoRow"><
                                            <div class="product-stock"> <span class="instock ">В наличии</span> <span class="outstock hide">Отсутствует</span> </div>
                                           <!--  <div class="product-sku">SKU: <span class="variant-sku">19115-rdxs</span></div> -->
                                        </div>
                                        <p class="product-single__price product-single__price-product-template">
                                            {% if itpm.old_price %}
                                            <span class="visually-hidden">Regular price</span>
                                            <s id="ComparePrice-product-template"><span class="money">{{ itpm.old_price }}</span></s>
                                            {% endif %}
                                            <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                                <span id="ProductPrice-product-template"><span class="money">{{ itpm.price }}</span></span>
                                            </span>
                                            {% if itpm.action %}  
                                            <span class="discount-badge"> <span class="devider">|</span>&nbsp;
                                                <span class="off">(<span>{{ itpm.action }}</span>%)</span>
                                            </span>
                                            {% endif %}
                                        </p>
                                    <div class="product-single__description rte">
                                        {% if itpm.description %}
                                        {{ itpm.description }}
                                        {% endif %}
                                    </div>
                                    <div id="quantity_message">Поторопитесь! Осталось  <span class="items">{{ itpm.stock }}</span>.</div>
                                    <form method="post" action="{% url 'cart:cart_add' itpm.id %}" class="product-form product-form-product-template hidedropdown">
                                   <!--      <div class="swatch clearfix swatch-0 option1" data-option-index="0">
                                            <div class="product-form__item">
                                              <label class="header">Color: <span class="slVariant">Red</span></label>
                                              <div data-value="Red" class="swatch-element color red available">
                                                <input class="swatchInput" id="swatch-0-red" type="radio" name="option-0" value="Red">
                                                <label class="swatchLbl color medium rectangle" for="swatch-0-red" style="background-image:url({% static 'assets/images/product-detail-page/variant1-1.jpg' %});" title="Red"></label>
                                              </div>

                                            </div>
                                        </div> -->
                                        <div class="swatch clearfix swatch-1 option2" data-option-index="1">
                                            <div class="product-form__item">
                                              <label class="header">Размер: <span class="slVariant">{{ itpm.size }}</span></label>
                                            </div>
                                        </div>
                                        <p class="infolinks"><a href="#sizechart" class="sizelink btn">Как узнать свой размер?</a> <a href="#productInquiry" class="emaillink btn"> Есть вопросы об этом товаре?</a></p>
                                        <!-- Product Action -->
                                        <div class="product-action clearfix">

                                            <div class="product-form__item--submit">
                                                <div class="product-form__item--quantity">
                                                <div class="wrapQtyBtn">
                                                    <div class="qtyField">
                                                        {{ cart_product_form }}
                                                    </div>
                                                </div>
                                                </div>

                                                {% csrf_token %}
                                                    <div class=""  style="padding-top: 2em; padding-bottom: 1em">
<!--                                                <input type="submit" value="Добавить в корзину">-->
                                                <button type="submit" class="btn product-form__cart-submit">
                                                    <span>Добавить в корзину</span>
                                                </button>
                                                    </div>
                                            </div>
<!--                                            <div class="shopify-payment-button" data-shopify="payment-button">-->
<!--                                                <button type="button" class="shopify-payment-button__button shopify-payment-button__button&#45;&#45;unbranded">Buy it now</button>-->
<!--                                            </div>-->
                                        </div>
                                        <!-- End Product Action -->
                                    </form>


                                    
                                    <p class="shippingMsg"><i class="fa fa-clock-o" aria-hidden="true"></i> Примерное время доставки:<b id="fromDate"> 4 дня</b>.</p>
                                </div>
                        </div>
                    </div>
                    <!--End-product-single-->
                    <!--Product Fearure-->
                    <div class="prFeatures">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 feature">
                                <img src="{% static 'assets/images/credit-card.png' %}" alt="Safe Payment" title="Safe Payment" />
                                <div class="details"><h3>Safe Payment</h3>Pay with the world's most payment methods.</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 feature">
                                <img src="{% static 'assets/images/shield.png' %}" alt="Confidence" title="Confidence" />
                                <div class="details"><h3>Confidence</h3>Protection covers your purchase and personal data.</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 feature">
                                <img src="{% static 'assets/images/worldwide.png' %}" alt="Worldwide Delivery" title="Worldwide Delivery" />
                                <div class="details"><h3>Worldwide Delivery</h3>FREE &amp; fast shipping to over 200+ countries &amp; regions.</div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 feature">
                                <img src="{% static 'assets/images/phone-call.png' %}" alt="Hotline" title="Hotline" />
                                <div class="details"><h3>Hotline</h3>Talk to help line for your question on 4141 456 789, 4125 666 888</div>
                            </div>
                        </div>
                    </div>
                    <!--End Product Fearure-->
                </div>
            </div>
        </div>
<hr>
                         <!--Product Tabs-->
                    <div class="tabs-listing">

                        <div class="tab-container">
                           
                           
 <div class="hide">
      <div id="sizechart">
        <h3>Размерная сетка размеров женской одежды</h3>
        <table>
          <tbody>
            <tr>
              <th>Размер</th>
              <th>40 (XS)</th>
              <th>42 (XS)</th>
              <th>44 (S)</th>
              <th>46 (M)</th>
              <th>48 (M)</th>
            </tr>
            <tr>
              <td>Обхват груди</td>
              <td>74 - 80</td>
              <td>82 - 85</td>
              <td>86 - 89</td>
              <td>90 - 93</td>
              <td>94 - 97</td>
            </tr>
            <tr>
              <td>Обхват талии</td>
              <td>60 - 65</td>
              <td>66 - 69</td>
              <td>70 - 73</td>
              <td>74 - 77</td>
              <td>78 - 81</td>
            </tr>
            <tr>
              <td>Обхват бедер</td>
              <td>84 - 90</td>
              <td>92 - 95</td>
              <td>96 - 98</td>
              <td>99 - 101</td>
              <td>102 - 104</td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <th>Размер</th>
              <th>50 (L)</th>
              <th>52 (XL)</th>
              <th>54 (XL)</th>
              <th>56 (XLL)</th>
            </tr>
            <tr>
              <td>Обхват груди</td>
              <td>98 - 102</td>
              <td>103 - 107</td>
              <td>108 - 113</td>
              <td>114 - 119</td>              
            </tr>
            <tr>
              <td>Обхват талии</td>
              <td>82 - 85</td>
              <td>86 - 90</td>
              <td>91 - 95</td>
              <td>96 - 102</td>           
            </tr>
            <tr>
              <td>Обхват бедер</td>
              <td>105 - 108</td>
              <td>109 - 112</td>
              <td>113 - 116</td>
              <td>117 - 121</td>             
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="hide">
        <div id="productInquiry">
            <div class="contact-form form-vertical">
          <div class="page-title">
            <h3>{{ itpm.name }}</h3>
          </div>
          <form method="post" action="#" id="contact_form" class="contact-form">
            <div class="formFeilds">
              <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">{% csrf_token %}
                    {{ form_detail.name }}
                  </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">{% csrf_token %}
                  {{ form_detail.phone }}
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">{% csrf_token %}
                    {{ form_detail.message }}
                </div>  
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="btn" type="submit">Отправить</button>
                </div>
             </div>
            </div>
          </form>
        </div>
        </div>
    </div>

<!--<h1>{{post.name}}</h1>-->

<!--{% if post.photo %}-->
<!--<p><img class="img-article-left" src="{{post.photo.url}}"></p>-->
<!--<p class="price">{{ post.price }}</p>-->
<!--<form action="{% url 'cart:cart_add' post.id %}" method="post">-->
<!--    {{ cart_product_form }}-->
<!--    {% csrf_token %}-->
<!--    <input type="submit" value="Добавить в корзину">-->
<!--</form>-->
<!--{% endif %}-->

<!--{{post.description|linebreaks}}-->

</div>
            </div>
    </div>
{% endblock %}