{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
   <!--Body Content--> 
<div class="d-flex justify-content-around" style="margin-bottom: 5px; margin-top: 3px;">
    <div class="container breadcrumbs" style="margin: 0; padding: 0; border 0;">
        <div class="collapse navbar-collapse d-flex justify-content-around" style="display: flex; justify-content: space-between;">
          <div class="d-flex justify-content-center">
            <input type="button" class="button-30" onclick="location.href='{% url 'shop:wedding' %}';" value="СВАДЕБНЫЕ">
            <input type="button" class="button-30" onclick="location.href='{% url 'shop:evening' %}';" value="ВЕЧЕРНИЕ">
            <input type="button" class="button-30" onclick="location.href='{% url 'shop:child' %}';" value="ДЕТСКИЕ">
          </div>  
         
        </div>
                    </div>
</div>





    	<!--Home slider-->
   <div class="slideshow slideshow-wrapper pb-section">

            <div class="home-slideshow" style = "padding-top: 0">

                <div class="slide">
                    <div class="blur-up lazyload">
                        <img class="blur-up lazyload" style="background-color: rgba(0,0,0,.3); "  data-src="{% static 'assets/images/slideshow-banners/headersec).jpg' %}" src="{% static 'assets/images/slideshow-banners/headersec).jpg' %}" alt="Summer Bikini Collection" title="Summer Bikini Collection" />
                        <div class="slideshow__text-wrap slideshow__overlay classic middle">
                            <div class="slideshow__text-content middle">
                                <div class="container">
                                    <div class="wrap-caption center">
                                        <h2 class="h1 mega-title slideshow__title" style=" text-shadow: 0 1px #bb5864;">Свадебные &amp; Вечерние &amp; Детские платья</h2>
                                        <span class="mega-subtitle slideshow__subtitle" style=" text-shadow: 0 1px #bb5864;">Наша новая коллекция</span>
                                        <span class="btn"><a href="#form_call" style="display: inline-block; color: white; text-decoration: none; -moz-appearance: button; -webkit-appearance: button;">Заказать звонок</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Collection Banner-->
        <!--End Home slider-->
        <!--New Arrivals-->
        <div class="product-rows section">
        	<div class="container">
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
        				<div class="section-header text-center">
                            <h2 class="h2">Свадебные платья</h2>
                            <p>Grab these new items before they are gone!</p>
                        </div>
            		</div>
                </div>
	            <div class="grid-products">
                	<div class="row">
                        {% for imd in item_wedd|slice:"4" %}                        
                        <div class="col-6 col-sm-2 col-md-3 col-lg-3 item">
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="{{ imd.itpm.get_absolute_url }}" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="blur-up lazyload" data-src="{{ imd.image.url }}" src="{{ imd.image.url }}" alt="image" title="product">
                                    <!-- End image -->
                                    <img class="grid-view-item__image hover variantImg" src="{{ imd.image.url }}" alt="image" title="product">
                                    <!-- Variant Image--> 
                                    <!-- product label -->
                                    <div class="product-labels rounded">
                                        {% if imd.itpm.action %}
                                        <span class="lbl on-sale">- {{ imd.itpm.action }} %</span>
                                        {% endif %}
                                        {% if imd.itpm.is_new %}
                                        <span class="lbl pr-label1">Новое</span>
                                        {% endif %}
                                    </div>                                       
                                    <!-- End product label -->
                                </a>
                                <!-- end product image -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="product-layout-1.html">{{ imd.itpm.name }}</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    {% if imd.itpm.old_price %}
                                    <span class="old-price">{{ imd.itpm.old_price }}</span>
                                    {% endif %}
                                    <span class="price">{{ imd.itpm.price }}</span>
                                </div>
                                <!-- End product price -->
                            </div>
                            <!-- End product details -->
                        </div>
                    {% endfor %}
                    </div>
                    <div class="row">
                    	<div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        	<a href="{% url 'shop:wedding' %}" class="btn" style="background-color: #bb5864;">Смотреть все</a>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <hr>
        <!--End Featured Product-->
                <div class="product-rows section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-header text-center">
                            <h2 class="h2">Вечерние платья</h2>
                            <p>Grab these new items before they are gone!</p>
                        </div>
                    </div>
                </div>
                <div class="grid-products">
                    <div class="row">
                        {% for imd in item_evn|slice:"4" %}
                        <div class="col-6 col-sm-2 col-md-3 col-lg-3 item">
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="{{ imd.itpm.get_absolute_url }}" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="blur-up lazyload" data-src="{{ imd.image.url }}" src="{{ imd.image.url }}" alt="image" title="product">
                                    <!-- End image -->
                                    <img class="grid-view-item__image hover variantImg" src="{{ imd.image.url }}" alt="image" title="product">
                                    <!-- Variant Image--> 
                                    <!-- product label -->
                                    <div class="product-labels rounded">
                                        {% if imd.itpm.action %}
                                        <span class="lbl on-sale">- {{ imd.itpm.action }} %</span>
                                        {% endif %}
                                        {% if imd.itpm.is_new %}
                                        <span class="lbl pr-label1">Новое</span>
                                        {% endif %}
                                    </div>                                       
                                    <!-- End product label -->
                                </a>
                                <!-- end product image -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="product-layout-1.html">{{ imd.itpm.name }}</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    {% if imd.itpm.old_price %}
                                    <span class="old-price">{{ imd.itpm.old_price }}</span>
                                    {% endif %}
                                    <span class="price">{{ imd.itpm.price }}</span>
                                </div>
                                <!-- End product price -->
                            </div>
                            <!-- End product details -->
                        </div>
                    {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <a href="{% url 'shop:evening' %}" class="btn" style="background-color: #bb5864;">Смотреть все</a>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <hr>
        <!--End Featured Product-->
                <div class="product-rows section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-header text-center">
                            <h2 class="h2">Детские платья</h2>
                            <p>Grab these new items before they are gone!</p>
                        </div>
                    </div>
                </div>
                <div class="grid-products">
                    <div class="row">
                        {% for imd in item_child|slice:"4" %}
                                                <div class="col-6 col-sm-2 col-md-3 col-lg-3 item">
                            <!-- start product image -->
                            <div class="product-image">
                                <!-- start product image -->
                                <a href="{{ imd.itpm.get_absolute_url }}" class="grid-view-item__link">
                                    <!-- image -->
                                    <img class="blur-up lazyload" data-src="{{ imd.image.url }}" src="{{ imd.image.url }}" alt="image" title="product">
                                    <!-- End image -->
                                    <img class="grid-view-item__image hover variantImg" src="{{ imd.image.url }}" alt="image" title="product">
                                    <!-- Variant Image--> 
                                    <!-- product label -->
                                    <div class="product-labels rounded">
                                        {% if imd.itpm.action %}
                                        <span class="lbl on-sale">- {{ imd.itpm.action }} %</span>
                                        {% endif %}
                                        {% if imd.itpm.is_new %}
                                        <span class="lbl pr-label1">Новое</span>
                                        {% endif %}
                                    </div>                                       
                                    <!-- End product label -->
                                </a>
                                <!-- end product image -->
                            </div>
                            <!-- end product image -->
                            <!--start product details -->
                            <div class="product-details text-center">
                                <!-- product name -->
                                <div class="product-name">
                                    <a href="product-layout-1.html">{{ imd.itpm.name }}</a>
                                </div>
                                <!-- End product name -->
                                <!-- product price -->
                                <div class="product-price">
                                    {% if imd.itpm.old_price %}
                                    <span class="old-price">{{ imd.itpm.old_price }}</span>
                                    {% endif %}
                                    <span class="price">{{ imd.itpm.price }}</span>
                                </div>
                                <!-- End product price -->
                            </div>
                            <!-- End product details -->
                        </div>
                    {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <a href="{% url 'shop:child' %}" class="btn" style="background-color: #bb5864;">Смотреть все</a>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <hr>
        <!--End Featured Product-->

<div id="page-content">
    <div id="MainContent" class="main-content" role="main">
        <div id="ProductSection-product-tamplate" class="product-template__container prstyle1 container">
                                <div class="related-product grid-products">
                            <header class="section-header">
                                <h2 class="section-header__title text-center h2"><span>Ваши отзывы</span></h2>
                                <p class="sub-heading">You can manage this section from store admin as describe in above section</p>
                            </header>
                            <div class="productPageSlider">
                                {% for rev in reviews %}
                                <div class="col-12 item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->                                        <!-- image -->
                                            <img class="blur-up lazyload" data-src="{{ rev.image.url }}" src="{{ rev.image.url }}" alt="image" title="product">
                                            <!-- End image -->
                                        <!-- end product image -->
                                    </div>
                                    <!-- end product image -->
                                    <!-- End product details -->
                                </div>
                                {% endfor %}




                               
                            </div>
                        </div>
                    <!--End Recently Product Slider-->
        </div>
    </div>
</div>
 <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
<hr>


        <!--Hero Parallax Section3-->
                <div class="layout-boxed">
        <div class="section d-flex justify-content-center">
            <div class="hero hero--large hero__overlay bg-size" style="width: 60%;">
                <a href="https://www.instagram.com/loveyoustepan/">
                <img class="" src="{% static 'assets/images/parallax-banners/insta.jpg'%}" alt="" />
                </a>
                <div class="hero__inner">
                    <div class="container">
                       
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <div class="newsletter-section" id="form_call">
            <div class="container">
                <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-7 w-100 d-flex justify-content-start align-items-center">
                            <div class="display-table">
                                <div class="display-table-cell footer-newsletter">
                                    <div class="section-header text-center">
                                        <label class="h2">Есть вопросы?<span>С удовольствием ответим на них</span></label>
                                    </div>
                                    <form action="#" method="post">
                                        <div class="input-group" style="background-color: white;">
                                            {% csrf_token %}


                                 {{ form.phone }}
                                        
                                            <span class="input-group__btn">
                                                <button type="submit" class="btn newsletter__submit" style="background-color: #bb5864;"><span class="newsletter__submit-text--large" style="white-space: nowrap;">Жду звонка</span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-end align-items-center">
                            <div class="footer-social">
                              
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!--End Hero Parallax Section3-->
{% endblock %}
