{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

<div class="container page-template lookbook-template error-page belle">
        	<div class="row">
            	<div class="col-12 col-sm-12 col-md-12 col-lg-12">	
        			<div class="empty-page-content text-center">
                        <h1>404 Страница не найдена</h1>
                        
                        <p><a href="/" class="btn btn--has-icon-after">Продолжить покупки</a></p>
                      </div>
        		</div>
        	</div>
        </div>
{% endblock %}
